.cabecalho {
  background: url(../imagens/topo.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cabecalho .menu {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cabecalho .logo {
  margin-left: 10vw;
}
.cabecalho .logo img {
  width: 100%;
  height: 100%;
}
.cabecalho ul {
  display: flex;
  list-style: none;
}
.cabecalho li {
  padding: 10px;
  color: aliceblue;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin: 10px;
  transition: color 0.5s;
  cursor: pointer;
}
.cabecalho li:hover {
  color: blue;
}
