.galeria {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
}
.galeria img {
  width: 100%;
}
.galeria .marca-roupa {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bolder;
}
.galeria .descricao-roupa {
  font-size: 0.9em;
  color: grey;
}
